@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    background-image: url(flygame-bg.jpg);
    background-size: cover;
}
#fly {
    position: absolute;
    background-image: url(fly.png);
    width: 100px;
    height: 90px;
}

#start {
    position: absolute;
    margin: 0 auto;
    border: 2px solid black;
    padding: 20px;
    font-size: 1.2em;
    font-family: 'Raleway', serif;
    cursor: pointer;
    display: block;
    text-align: center;
    background: black;
    box-shadow: 3px 3px 15px black;
    color: white;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
